{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height nested-links">
    <header class="mt4 w-100">
      <aside class="instapaper_ignoref b helveticas tc">
        {{ .Params.kausi }}
      </aside>
      <h1 class="f1 athelas mt3 mb1">{{ .Params.etunimi }} {{ .Params.sukunimi }}</h1>
      {{ with .Params.pelinumero }}
        <h2 class="f3 mb1">#{{ . }}</h2>
      {{ end }}
    </header>
    
    <div class="nested-copy-line-height lh-copy serif">
      
      {{ if .Params.kuva }}
        <figure class="w-100 mw6 center">
          <img src="{{ .Params.kuva | relURL }}" alt="Kuva pelaajasta {{ .Params.etunimi }} {{ .Params.sukunimi }}" class="db w-100">
        </figure>
      {{ end }}

      <ul class="pa0">
        {{ with .Params.pelipaikka }}<li class="list f5 f4-ns fw4 dib mr3 mb2"><strong>Pelipaikka:</strong> {{ . }}</li>{{ end }}
        {{ with .Params.pituus }}<li class="list f5 f4-ns fw4 dib mr3 mb2"><strong>Pituus:</strong> {{ . }} cm</li>{{ end }}
        {{ with .Params.syntymaaika }}<li class="list f5 f4-ns fw4 dib mr3 mb2"><strong>Syntymäaika:</strong> {{ (time .).Format "2.1.2006" }}</li>{{ end }}
      </ul>
      
      {{ .Content }}
      
    </div>
  </article>
{{ end }}