{{ define "main" }}
  <article class="post">
    <header>
      <h1 class="post-title">{{ .Title }}</h1>
      <h2>#{{ .Params.pelinumero }}</h2>
    </header>
    
    {{ if .Params.kuva }}
      <img src="{{ .Params.kuva | relURL }}" alt="Kuva pelaajasta {{ .Title }}" />
    {{ end }}

    <ul>
      <li><strong>Pelipaikka:</strong> {{ .Params.pelipaikka }}</li>
      <li><strong>Pituus:</strong> {{ .Params.pituus }} cm</li>
      {{ with .Params.syntymaaika }}
      <li><strong>Syntymäaika:</strong> {{ (time .).Format "2.1.2006" }}</li>
      {{ end }}
      <li><strong>Kausi:</strong> {{ .Params.kausi }}</li>
    </ul>

    <div class="post-content">
      {{ .Content }}
    </div>
  </article>
{{ end }}