<aside class="w-100 w-30-l ph4-l">
  
  <div class="bg-light-gray pa3 mb3">
    <h3 class="f4 b helveticas">Tärkeät linkit</h3>
    <ul class="list pl0">
      <li class="mb2"><a href="https://www.basket.fi/basket/sarjat/" target="_blank" class="link dim blue">Sarjataulukko (Basket.fi)</a></li>
      <li class="mb2"><a href="#" target="_blank" class="link dim blue">Lippukauppa</a></li>
      <li class="mb2"><a href="#" target="_blank" class="link dim blue">Fanituotteet</a></li>
    </ul>
  </div>

  <div class="bg-light-gray pa3">
    <h3 class="f4 b helveticas">Seuraa meitä</h3>
    <ul class="list pl0">
      <li class="mb2"><a href="#" target="_blank" class="link dim blue">Facebook</a></li>
      <li class="mb2"><a href="#" target="_blank" class="link dim blue">Instagram</a></li>
      <li class="mb2"><a href="#" target="_blank" class="link dim blue">Twitter / X</a></li>
    </ul>
  </div>

</aside>